[submodule "vendor/orca-srs-plugin"]
	path = vendor/orca-srs-plugin
	url = git@github.com:Samuelxiaozhuofeng/orca-srs-plugin.git
[submodule "vendor/orca-plugin-template"]
	path = vendor/orca-plugin-template
	url = git@github.com:sethyuan/orca-plugin-template.git
[submodule "vendor/orca-plugin-task-planner"]
	path = vendor/orca-plugin-task-planner
	url = git@github.com:litcu/orca-plugin-task-planner.git
[submodule "vendor/orca-random-walk"]
	path = vendor/orca-random-walk
	url = git@github.com:sethyuan/orca-random-walk.git
[submodule "vendor/voicenotes-sync"]
	path = vendor/voicenotes-sync
	url = git@github.com:voicenotes-community/voicenotes-sync.git
[submodule "vendor/orca-tune-theme"]
	path = vendor/orca-tune-theme
	url = git@github.com:cordinGH/orca-tune-theme.git
[submodule "vendor/orca-tabs-plugin"]
	path = vendor/orca-tabs-plugin
	url = git@github.com:SaXz2/orca-tabs-plugin.git
[submodule "vendor/orca-note-cli"]
	path = vendor/orca-note-cli
	url = git@github.com:sethyuan/orca-note-cli.git
